- name: Remove unneeded exim4-daemon-light package
  apt:
    pkg:
    - exim4-daemon-light
    state: absent
    update_cache: true
    cache_valid_time: 600

- name: Ensure apt packages are installed
  ansible.builtin.apt:
    pkg:
    - msmtp
    - msmtp-mta
    state: present
    update_cache: true
    cache_valid_time: 600

- name: Configure msmtp
  copy:
    dest: /etc/msmtprc
    content: |
      account default
      host localhost
      port 587
      from sys@{{ ansible_host }}
      aliases /etc/aliases
      tls on
      tls_certcheck off
    mode: 0640
    owner: root
    group: msmtp

- name: Configure mail aliases
  lineinfile:
    dest: /etc/aliases
    regexp: '^#?root:'
    line: 'root: {{ email }}'
    state: present
    create: true
    mode: 0644
