- block:
  - name: "Ensure homelab repository is present"
    ansible.builtin.git:
      repo: https://github.com/smkent/homelab
      dest: '{{ deploy_user_home }}/homelab'
      version: main
      accept_hostkey: true
    environment:
      GIT_TERMINAL_PROMPT: 0
    register: homelab_git_repo
    ignore_errors: '{{ ansible_check_mode }}'

  - name: "Install homelab package via pipx"
    community.general.pipx:
      name: homelab
      source: "{{ deploy_user_home }}/homelab"
      state: present
      force: true
    when:
    - not ansible_check_mode
    - homelab_git_repo.changed

  - name: "Ensure {{ deploy_user_home }}/secrets exists"
    ansible.builtin.file:
      path: "{{ deploy_user_home }}/secrets"
      owner: "{{ deploy_user }}"
      group: "{{ deploy_user }}"
      mode: 0700
      state: directory

  - name: "Ensure app config templates are installed"
    ansible.builtin.template:
      src: '{{ item }}.env.j2'
      dest: '{{ deploy_user_home }}/secrets/{{ item }}.env'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      mode: 0600
    diff: false
    loop: "{{ app_config_templates }}"

  - name: "Ensure Docker secrets are installed"
    ansible.builtin.copy:
      dest: "{{ deploy_user_home }}/secrets/{{ item }}"
      content: "{{ compose_secrets[item] }}"
      owner: "{{ deploy_user }}"
      group: "{{ deploy_user }}"
      mode: 0600
    diff: false
    loop: "{{ compose_secrets.keys() | sort }}"

  - name: "Locate existing installed Docker secrets"
    ansible.builtin.find:
      paths: "{{ deploy_user_home }}/secrets"
      file_type: file
      excludes: >-
        {{
          compose_secrets.keys() | list
          + (app_config_templates | map('regex_replace', '$', '.env') | list)
        }}
    register: existing_compose_secrets

  - name: "Ensure unused Docker secrets are removed"
    ansible.builtin.file:
      path: "{{ deploy_user_home }}/secrets/{{ item }}"
      state: absent
    diff: false
    loop: >-
      {{
        existing_compose_secrets.files
        | map(attribute='path')
        | map('basename')
        | list
        | sort
      }}
  become: "{{ ansible_ssh_user != deploy_user }}"
  become_user: "{{ deploy_user }}"
