- name: Ensure unneeded exim4-daemon-light package is removed
  ansible.builtin.apt:
    pkg:
    - exim4-daemon-light
    state: absent
    update_cache: true
    cache_valid_time: 600

- name: Ensure apt packages are installed
  ansible.builtin.apt:
    pkg:
    - bsd-mailx
    - msmtp
    - msmtp-mta
    state: present
    update_cache: true
    cache_valid_time: 600

- name: Ensure msmtp is configured
  ansible.builtin.copy:
    dest: /etc/msmtprc
    content: |
      account default
      host {{ node_domain }}
      port 587
      from sys.{{ inventory_hostname }}@{{ node_domain }}
      aliases /etc/aliases
      tls on
      tls_certcheck off
      auth on
      user gomail
      password {{ smtp_submit_password }}
    mode: 0640
    owner: root
    group: msmtp
  diff: false

- name: Ensure mail aliases are configured
  ansible.builtin.lineinfile:
    dest: /etc/aliases
    regexp: '^#?root:'
    line: 'root: {{ email }}'
    state: present
    create: true
    mode: 0644
