networks:
  web:
    external: true

secrets:
  deploy-backup-ssh-key:
    file: ../../secrets/deploy-backup-ssh-key
  hc-ping-key-backrest:
    file: ../../secrets/hc-ping-key-backrest
  restic-password:
    file: ../../secrets/restic-password

volumes:
  backrest_cache:
    driver: local
    name: backrest_cache
  backrest_tmp:
    driver: local
    name: backrest_tmp

services:
  backrest:
    build: build
    cap_add:
    - DAC_READ_SEARCH
    environment:
      BACKREST_CONFIG: /opt/backrest/config/config.json
      BACKREST_DATA: /opt/backrest/data
      TMPDIR: /tmp
      XDG_CACHE_HOME: /cache
      RESTIC_PASSWORD_FILE: /run/secrets/restic-password
      SSH_PRIVATE_KEY_FILE: /run/secrets/deploy-backup-ssh-key
      TZ: America/Los_Angeles
      HEALTHCHECKS_URL: "https://healthchecks.${DOMAIN?}"
      HEALTHCHECKS_PING_KEY_FILE: "/run/secrets/hc-ping-key-backrest"
    hostname: "${MACHINE?}"
    networks:
    - web
    restart: unless-stopped
    secrets:
    - deploy-backup-ssh-key
    - hc-ping-key-backrest
    - restic-password
    user: 1000:1000
    group_add:
    - 200
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
    - ./scripts:/scripts:ro
    - backrest_cache:/cache
    - backrest_tmp:/tmp
    - ../../volumes/${COMPOSE_PROJECT_NAME}/backrest_config:/opt/backrest/config
    - ../../volumes/${COMPOSE_PROJECT_NAME}/backrest_data:/opt/backrest/data
    - $HOME/backup:/backup:rw
    - $HOME/homelab/compose/volumes:/deploy/compose_volumes:ro
    - $HOME/external:/deploy/external:ro,rshared
    - /mnt:/mnt:rw,rshared
    - ${DATA_MOUNT:-/dev/null}:${DATA_MOUNT:-/root/.nodatamount}:ro
