networks:
  default:
    external:
      name: gateway_default

secrets:
  nut-upsd-password: {file: $HOME/secrets/nut-upsd-password}

services:
  nut:
    build: build
    environment:
    - NUT_MAIL_FROM=nut@${HOST?}
    - NUT_MAIL_TO=${EMAIL?}
    - SMTPHOST=smtp
    - USER=root
    privileged: true
    profiles:
    - onprem
    restart: unless-stopped
    secrets:
    - nut-upsd-password
