secrets:
  certbot-linode-key:
    file: $HOME/secrets/certbot-linode-key

services:
  ddns:
    build: ddns
    env_file:
    - host.env
    - ddns.env
    restart: unless-stopped
    secrets:
    - certbot-linode-key
    volumes:
    - ./ddns/update-linode-dns:/update-linode-dns:ro
