*.egg-info/
*.pyc
.coverage
.pytest_cache/
.pytest_coverage.xml
.pytest_results.xml
.venv/
dist/
homelab/ansible/.requirements.yml.sha256sum
homelab/ansible/collections/
homelab/ansible/vault/
homelab/ansible/venv/
apps/.env
apps/*/data
/.cache
