*.egg-info/
*.pyc
.coverage
.pytest_cache/
.pytest_coverage.xml
.pytest_results.xml
.venv/
dist/
ansible/.requirements.yml.sha256sum
ansible/collections/
ansible/vault/
ansible/venv/
apps/.env
apps/*/data
/.cache
