# Python
__pycache__/
*.egg-info/
*.py[cod]

# uv and packaging
.venv*/
/build/
/dist/

# mise
mise.local.toml
.mise.local.toml
.mise/

# Development tools
.cache/
.coverage*
.pytest_cache/
.ruff_cache/
/htmlcov/
/site/
coverage.xml

# Ansible
/ansible/.requirements.yml.sha256sum
/ansible/vault

# Docker Compose stacks
/compose/hosts/active
/compose/volumes
/compose/secrets
