networks:
  default:
    name: gateway_default
    external: true

services:
  cups:
    build: build
    ports:
    - 631:631
    profiles:
    - onprem
    restart: unless-stopped
    volumes:
    - ./data/cups:/data/cups:rw
