networks:
  web:
    external: true

services:
  terraria:
    build: https://github.com/kaysond/docker-terraria.git
    environment:
    - PUID=7777
    - PGID=7777
    restart: unless-stopped
    tty: true
    ports:
    - 7777:7777
    profiles:
    - manual
    volumes:
    - ../../volumes/${COMPOSE_PROJECT_NAME}/worlds/:/world:rw
    - ../../volumes/${COMPOSE_PROJECT_NAME}/config:/config:rw
