- name: Check if root filesystem is encrypted
  ansible.builtin.stat:
    path: /etc/crypttab
  register: crypttab_stat

- block:
  - name: Ensure dropbear-initramfs is installed
    ansible.builtin.apt:
      pkg:
      - dropbear-initramfs
      state: present
    notify:
    - update-initramfs

  - name: Ensure authorized_keys is configured for dropbear
    ansible.builtin.copy:
      content: "{{ ssh_authorized_keys | join('\n') }}"
      dest: /etc/dropbear-initramfs/authorized_keys
      mode: 0600
    notify:
    - update-initramfs

  - name: Ensure dropbear login banner is configured
    ansible.builtin.copy:
      content: |
        #!/bin/sh
        mkdir -p "${DESTDIR}/etc/dropbear"
        busybox printf '\xf0\x9f\x92\xbe\n' > "${DESTDIR}/etc/dropbear/banner"
      dest: /etc/initramfs-tools/hooks/dropbear-banner
      mode: 0755
    notify:
    - update-initramfs

  - name: Ensure dropbear settings are configured in initramfs
    ansible.builtin.lineinfile:
      dest: /etc/dropbear-initramfs/config
      regexp: ^#?DROPBEAR_OPTIONS=
      line: DROPBEAR_OPTIONS="-jks -I 120 -c cryptroot-unlock -b /etc/dropbear/banner -r /etc/dropbear/dropbear_ed25519_host_key"
      state: present
    notify:
    - update-initramfs
    ignore_errors: '{{ ansible_check_mode }}'
  when: crypttab_stat.stat.exists
