secrets:
  smtp-submit-password: {file: $HOME/secrets/smtp-submit-password}

networks:
  default:
    name: gateway_default
    external: true
  local:
    external: false

services:
  jobdb:
    image: ghcr.io/smkent/jobdb:main
    environment:
      SECRET_KEY: insecure_example_change_me
      CSRF_TRUSTED_ORIGIN: https://jobs.${HOST?}
      DJANGO_EMAIL_HOST: smtp
      DJANGO_EMAIL_PORT: 25
      DJANGO_DEFAULT_FROM_EMAIL: jobs@${HOST?}
    depends_on:
    - db
    env_file:
    - $HOME/secrets/jobdb.env
    networks:
    - default
    - local
    profiles:
    - cloud
    restart: unless-stopped
    secrets:
    - smtp-submit-password

  db:
    image: postgres:16
    environment:
    - POSTGRES_USER=jobdb
    - POSTGRES_PASSWORD=jobdb
    - POSTGRES_DB=jobdb
    networks:
    - local
    profiles:
    - cloud
    restart: unless-stopped
    volumes:
    - ./data/db:/var/lib/postgresql/data
