- name: Install global.env
  template:
    src: global.env.j2
    dest: '{{ deploy_user_info.home }}/secrets/global.env'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0600

- name: Symlink .env in apps
  file:
    src: '{{ deploy_user_info.home }}/secrets/global.env'
    dest: '{{ deploy_user_info.home }}/{{ apps_dir }}/.env'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    state: link
  ignore_errors: '{{ ansible_check_mode }}'
