- block:
  - name: Clone homelab repository
    git:
      repo: https://github.com/smkent/homelab
      dest: '{{ deploy_user_info.home }}/homelab'
      version: main
      accept_hostkey: true
    environment:
      GIT_TERMINAL_PROMPT: 0

  - name: Symlink apps
    file:
      src: homelab/apps
      dest: '{{ deploy_user_info.home }}/{{ apps_dir }}'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      state: link
    ignore_errors: '{{ ansible_check_mode }}'

  - name: Clone web repository
    git:
      repo: '{{ web_repo }}'
      dest: '{{ deploy_user_info.home }}/homelab/apps/web/build'
      version: main
      accept_hostkey: true
    environment:
      GIT_TERMINAL_PROMPT: 0

  - name: Install global.env
    template:
      src: global.env.j2
      dest: '{{ deploy_user_info.home }}/secrets/global.env'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      mode: 0600

  - name: Symlink .env in apps
    file:
      src: '{{ deploy_user_info.home }}/secrets/global.env'
      dest: '{{ deploy_user_info.home }}/{{ apps_dir }}/.env'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      state: link
    ignore_errors: '{{ ansible_check_mode }}'
  become: "{{ ansible_ssh_user != deploy_user }}"
  become_user: "{{ deploy_user }}"
