- block:
  - name: Symlink apps directory
    ansible.builtin.file:
      src: homelab/apps
      dest: '{{ deploy_user_home }}/{{ apps_dir }}'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      state: link
    ignore_errors: '{{ ansible_check_mode }}'

  - name: Clone web repository
    ansible.builtin.git:
      repo: '{{ web_repo }}'
      dest: '{{ deploy_user_home }}/homelab/apps/web/build'
      version: main
      accept_hostkey: true
    environment:
      GIT_TERMINAL_PROMPT: 0

  - name: Install global.env
    ansible.builtin.template:
      src: global.env.j2
      dest: '{{ deploy_user_home }}/secrets/global.env'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      mode: 0600

  - name: Symlink .env in apps
    ansible.builtin.file:
      src: '{{ deploy_user_home }}/secrets/global.env'
      dest: '{{ deploy_user_home }}/{{ apps_dir }}/.env'
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      state: link
    ignore_errors: '{{ ansible_check_mode }}'
  become: "{{ ansible_ssh_user != deploy_user }}"
  become_user: "{{ deploy_user }}"
