networks:
  default:
    external:
      name: gateway_default

services:
  transmission:
    image: lscr.io/linuxserver/transmission
    environment:
    - PUID=2000
    - PGID=8888
    - TZ=UTC
    - TRANSMISSION_WEB_HOME=/flood-for-transmission/
    ports:
    - 51413:51413
    - 51413:51413/udp
    profiles:
    - onprem
    restart: unless-stopped
    volumes:
    - ./data/config:/config
    - ${FS_MEDIA_PATH-/data/media}/bt/downloads:/downloads:rw
    - ${FS_MEDIA_PATH-/data/media}/bt/watch:/watch:rw

  transmission-oidc:
    image: quay.io/oauth2-proxy/oauth2-proxy
    env_file:
    - $HOME/secrets/transmission-oidc.env
    environment:
    - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
    - OAUTH2_PROXY_UPSTREAMS=http://transmission:9091
    - OAUTH2_PROXY_PROVIDER=oidc
    - OAUTH2_PROXY_PROVIDER_DISPLAY_NAME=${HOST_SUFFIX?}
    - OAUTH2_PROXY_REDIRECT_URL=https://bt.${HOST?}/oauth2/callback
    - OAUTH2_PROXY_OIDC_ISSUER_URL=https://${HOST_SUFFIX?}
    - OAUTH2_PROXY_COOKIE_SECURE=true
    - OAUTH2_PROXY_EMAIL_DOMAINS=*
    profiles:
    - onprem
    restart: unless-stopped
