- include_tasks: resolve_user_home.yml
  vars:
    resolve_home_user_name: "{{ user_name }}"
    resolve_home_user_def: "{{ user_def }}"

- name: Check if dotfiles repository is installed
  stat:
    path: "{{ user_home }}/.git"
  register: dotfiles_git_stat

- name: "Ensure dotfiles repository is installed for {{ user_name }}"
  block:
  - name: Clone dotfiles repository
    git:
      repo: "{{ repository }}"
      dest: "{{ temp_dir }}"

  - name: Move repository metadata directory into place
    command: mv "{{ temp_dir }}/.git" "{{ user_home }}"
    args:
      chdir: '{{ user_home }}'
      removes: "{{ temp_dir }}/.git"
      creates: '{{ user_home }}/.git'

  - name: Check out dotfiles repository contents
    git:
      repo: "{{ repository }}"
      dest: '{{ user_home }}'
      clone: false
      force: true

  - name: Clean up temporary dotfiles repository directory
    file:
      path: "{{ temp_dir }}"
      state: absent
    diff: false
    no_log: true
  become_user: '{{ user_name }}'
  vars:
    repository: "https://github.com/smkent/dotfiles"
    temp_dir: /tmp/dotfiles_temp
  when:
  - ansible_facts.getent_passwd.get(user_name) is not none
  - not dotfiles_git_stat.stat.exists
