- name: "Ensure pipx is installed for {{ user_name }} via pip if required"
  ansible.builtin.pip:
    name:
    - "pipx >= 1.7.0"
    extra_args: --user
    state: present
  become_user: '{{ user_name }}'
  when:
  - not ansible_check_mode
  - ansible_facts['distribution'] == 'Debian'
  - ansible_facts['distribution_version'] | int < 12

- name: "Install poetry via pipx for {{ user_name }}"
  community.general.pipx:
    name: poetry
    inject_packages:
    - poetry-dynamic-versioning
    state: latest
  become_user: "{{ user_name }}"
  when: not ansible_check_mode
