- name: "Ensure {{ deploy_user_home }}/.local exists"
  ansible.builtin.file:
    path: '{{ deploy_user_home }}/.local'
    mode: 0755
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    state: directory
  register: deploy_user_local_dir
  failed_when:
  - not ansible_check_mode
  - deploy_user_local_dir.failed

- name: "Ensure {{ deploy_user_home }}/.local/shell-rc is populated"
  ansible.builtin.copy:
    src: shell-rc
    dest: '{{ deploy_user_home }}/.local/shell-rc'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0755

- name: "Ensure {{ deploy_user }}/.s3cfg is populated"
  ansible.builtin.template:
    src: s3cfg.j2
    dest: '{{ deploy_user_home }}/.s3cfg'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0600
  diff: false
