- name: "Ensure {{ deploy_user_home }}/.ssh exists"
  file:
    path: "{{ deploy_user_home }}/.ssh"
    state: directory
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0700

- name: "Ensure SSH private key is installed for {{ deploy_user }}"
  copy:
    dest: '{{ deploy_user_home }}/.ssh/id_ed25519'
    content: '{{ ssh_key_deploy }}'
    mode: 0600
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
  diff: false

- name: "Ensure SSH public key is installed for {{ deploy_user }}"
  copy:
    dest: '{{ deploy_user_home }}/.ssh/id_ed25519.pub'
    content: '{{ ssh_key_deploy_pub }}'
    mode: 0644
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'

- name: "Ensure {{ deploy_user_home }}/.local/shell-rc is populated"
  template:
    src: shell-rc.j2
    dest: '{{ deploy_user_home }}/.local/shell-rc'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0755

- name: "Ensure {{ deploy_user }}/.s3cfg is populated"
  template:
    src: s3cfg.j2
    dest: '{{ deploy_user_home }}/.s3cfg'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0600
  diff: false
