networks:
  default:
    name: gateway_default
    external: true
  local:
    external: false

services:
  outline:
    image: outlinewiki/outline:0.84.0
    depends_on:
    - db
    - redis
    env_file:
    - env
    - $HOME/secrets/outline.env
    environment:
    - REDIS_URL=redis://redis:6379
    - URL=https://outline.${HOST?}
    - OIDC_AUTH_URI=https://${HOST?}/oidc/auth
    - OIDC_TOKEN_URI=https://${HOST?}/oidc/token
    - OIDC_USERINFO_URI=https://${HOST?}/oidc/userinfo
    - OIDC_DISPLAY_NAME=${HOST_SUFFIX?}
    - SMTP_FROM_EMAIL=outline@${HOST?}
    networks:
    - default
    - local
    profiles:
    - cloud
    restart: unless-stopped
    user: root
    volumes:
    - ./data/outline:/var/lib/outline/data

  db:
    image: postgres:13
    environment:
    - POSTGRES_USER=outline
    - POSTGRES_PASSWORD=outline
    - POSTGRES_DB=outline
    networks:
    - local
    profiles:
    - cloud
    restart: unless-stopped
    volumes:
    - ./data/db:/var/lib/postgresql/data

  redis:
    image: redis
    networks:
    - local
    profiles:
    - cloud
    restart: unless-stopped
