(tls_linode) {
    tls certs@{env.DOMAIN} {
        dns linode "{$LINODE_TOKEN}"
        propagation_delay 1m
        propagation_timeout 5m
        resolvers 1.1.1.1 8.8.8.8
    }
}

{
    storage file_system {
        root /data
    }
}

(auth) {
    forward_auth authelia:9091 {
        uri /api/verify?rd=https://login.{env.NODE_FQDN}
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
}

:80 {
    redir https://{host}{uri} 302
}

{env.NODE_FQDN} *.{env.NODE_FQDN} {
    import tls_linode

    @authelia host login.{env.NODE_FQDN}
    handle @authelia {
        reverse_proxy authelia:9091
    }

    @lldap host lldap.{env.NODE_FQDN}
    handle @lldap {
        import auth
        reverse_proxy lldap:17170
    }

    @hello host hello.{env.NODE_FQDN}
    handle @hello {
        import auth
        reverse_proxy hello:80
    }

    @gitea host git.{env.NODE_FQDN}
    handle @gitea {
        @login path /user/login
        redir @login /user/oauth2/gitea?{query} 302

        reverse_proxy gitea:3000
    }

    @outline host outline.{env.NODE_FQDN}
    handle @outline {
        reverse_proxy outline:3000
        header {
            Service-Worker-Allowed "/"
        }
    }

    @nextcloud host nextcloud.{env.NODE_FQDN}
    handle @nextcloud {
        reverse_proxy nextcloud:80
    }

    @web host {env.NODE_FQDN} www.{env.NODE_FQDN}
    handle @web {
        reverse_proxy web:5000
    }

    handle {
        reverse_proxy web:5000
    }
}
