{
    storage file_system {
        root /data
    }
}

(auth) {
    forward_auth authelia:9091 {
        uri /api/verify?rd=https://login.{env.NODE_FQDN}
        copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
    }
}

:80 {
    redir https://{host}{uri} 302
}

{env.NODE_FQDN} *.{env.NODE_FQDN} {
    tls certs@{env.DOMAIN} {
        dns linode "{$LINODE_TOKEN}"
    }

    @authelia host login.{env.NODE_FQDN}
    handle @authelia {
        reverse_proxy authelia:9091
    }

    @lldap host lldap.{env.NODE_FQDN}
    handle @lldap {
        import auth
        reverse_proxy lldap:17170
    }

    @hello host hello.{env.NODE_FQDN}
    handle @hello {
        import auth
        reverse_proxy hello:80
    }

    @web host {env.NODE_FQDN} www.{env.NODE_FQDN}
    handle @web {
        reverse_proxy web:5000
    }

    handle {
        reverse_proxy web:5000
    }
}
