- name: "Ensure hostname is set"
  ansible.builtin.hostname:
    name: "{{ node_fqdn }}"

- name: "Ensure time zone is set to Etc/UTC"
  community.general.timezone:
    name: Etc/UTC

- name: "Ensure journald disk usage limits are configured"
  ansible.builtin.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: "{{ item.key }}"
    value: "{{ item.value }}"
    no_extra_spaces: true
  loop:
  - key: SystemMaxUse
    value: 1G
  - key: RuntimeMaxUse
    value: 1G
  loop_control:
    label: "{{ item.key }}"
  notify: restart-journald

- name: "Ensure journald logs are vacuumed"
  ansible.builtin.command: journalctl --vacuum-size=1G
  changed_when: false
