- name: "Ensure {{ deploy_user_home }}/.local exists"
  ansible.builtin.file:
    path: '{{ deploy_user_home }}/.local'
    mode: 0755
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    state: directory
  register: deploy_user_local_dir
  failed_when:
  - not ansible_check_mode
  - deploy_user_local_dir.failed

- name: "Ensure {{ deploy_user_home }}/.local/shell-rc is populated"
  ansible.builtin.copy:
    src: shell-rc
    dest: '{{ deploy_user_home }}/.local/shell-rc'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0755

- name: "Ensure {{ deploy_user }}/.s3cfg is populated"
  ansible.builtin.template:
    src: s3cfg.j2
    dest: '{{ deploy_user_home }}/.s3cfg'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_user }}'
    mode: 0600
  diff: false

- block:
  - name: "Ensure backup source directory exists"
    ansible.builtin.file:
      path: "{{ deploy_user_home }}/external"
      state: directory
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      mode: '0700'

  - name: "Get backup source mount point directories state"
    ansible.builtin.stat:
      path: "{{ deploy_user_home }}/external/{{ item | basename }}"
    loop: "{{ deploy_external_bind_mounts | d([]) }}"
    register: deploy_external_bind_mounts_stat

  - name: "Ensure backup source mount point directories exist"
    ansible.builtin.file:
      path: "{{ deploy_user_home }}/external/{{ stat_item.item | basename }}"
      state: directory
      owner: '{{ deploy_user }}'
      group: '{{ deploy_user }}'
      mode: '0700'
    when: not stat_item.stat.exists
    loop: "{{ deploy_external_bind_mounts_stat.results }}"
    loop_control:
      loop_var: stat_item
      label: "{{ stat_item.item }}"

  - name: "Ensure backup sources are configured and mounted"
    ansible.posix.mount:
      path: "{{ deploy_user_home }}/external/{{ item | basename }}"
      src: "{{ item }}"
      fstype: none
      opts: bind,rshared,ro
      state: mounted
    loop: "{{ deploy_external_bind_mounts | d([]) }}"
  when: deploy_external_bind_mounts | d([]) | length > 0
