networks:
  web:
    external: true
  local:
    external: false

services:
  jobdb:
    image: ghcr.io/smkent/jobdb:main
    depends_on:
      db:
        condition: service_healthy
    env_file:
    - host.env
    - jobdb.env
    - $HOME/secrets/jobdb.env
    networks:
    - local
    - web
    restart: unless-stopped

  db:
    image: postgres:16
    environment:
    - POSTGRES_USER=jobdb
    - POSTGRES_PASSWORD=jobdb
    - POSTGRES_DB=jobdb
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d jobdb -U jobdb"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 2s
    networks:
    - local
    restart: unless-stopped
    volumes:
    - ./data/db:/var/lib/postgresql/data
