networks:
  web:
    external: true
  local:
    external: false

services:
  jobdb:
    image: ghcr.io/smkent/jobdb:main
    depends_on:
      db:
        condition: service_healthy
    env_file:
    - host.env
    - jobdb.env
    - ../../secrets/jobdb.env
    networks:
    - local
    - web
    restart: unless-stopped

  db:
    image: postgres:18
    environment:
    - POSTGRES_USER=jobdb
    - POSTGRES_PASSWORD=jobdb
    - POSTGRES_DB=jobdb
    healthcheck:
      test: "pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER"
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 2s
    networks:
    - local
    restart: unless-stopped
    volumes:
    - ../../volumes/${COMPOSE_PROJECT_NAME}/postgres18:/var/lib/postgresql
