HOST_SUFFIX={{ host_suffix }}

EMAIL={{ email }}
HOST={{ host_public|default(ansible_host) }}

LDAP_ROOT={{ ldap_root }}

{% if postfix_domain is defined %}POSTFIX_HOST={{ ansible_host|regex_replace("\.?\w+\.\w+$", "") }}.{{ postfix_domain }}
{% else %}
POSTFIX_HOST={{ ansible_host }}
{% endif %}
POSTFIX_DKIM_HOST={{ host_public|default(None) or postfix_domain|default(ansible_host) }}
DKIM_SELECTOR={{ ansible_host|regex_replace("\.?\w+\.\w+$", "") }}
POSTFIX_RELAYHOST={{ postfix_relayhost or '' }}

PLEX_HOST={{ plex_host }}
