HOST_SUFFIX={{ host_suffix }}

EMAIL={{ email }}
HOST={{ host_public|default(inventory_hostname) }}

LDAP_ROOT={{ ldap_root }}

{% if postfix_domain is defined %}POSTFIX_HOST={{ inventory_hostname|regex_replace("\.?\w+\.\w+$", "") }}.{{ postfix_domain }}
{% else %}
POSTFIX_HOST={{ inventory_hostname }}
{% endif %}
POSTFIX_DKIM_HOST={{ host_public|default(None) or postfix_domain|default(inventory_hostname) }}
DKIM_SELECTOR={{ inventory_hostname|regex_replace("\.?\w+\.\w+$", "") }}
POSTFIX_RELAYHOST={{ postfix_relayhost or '' }}

PLEX_HOST={{ plex_host }}
