networks:
  web:
    external: true
  local:
    external: false

services:
  mediawiki:
    build: build
    depends_on:
    - mysql-db
    env_file:
    - host.env
    networks:
    - web
    - local
    restart: unless-stopped
    volumes:
    - ./build/static:/var/www/html/app-static/
    - ../../volumes/${COMPOSE_PROJECT_NAME}/mediawiki/db:/var/www/data
    - ../../volumes/${COMPOSE_PROJECT_NAME}/mediawiki/images:/var/www/html/images
    - ../../volumes/${COMPOSE_PROJECT_NAME}/mediawiki/LocalSettings.php:/var/www/html/LocalSettings.php

  mysql-db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    environment:
    - MYSQL_ROOT_PASSWORD=wiki
    - MYSQL_USER=wiki
    - MYSQL_PASSWORD=wiki
    - MYSQL_DATABASE=wiki
    networks:
    - local
    restart: unless-stopped
    volumes:
    - ../../volumes/${COMPOSE_PROJECT_NAME}/mysql-db:/var/lib/mysql
