GROUP_shared={{ samba_shared_gid|default(8888) }}

{% for user, user_info in (create_users or {}).items() %}{% if user_info.samba_password|d() %}
ACCOUNT_{{ user }}={{ user_info.samba_password }}
UID_{{ user }}={{ user_info.uid }}
GROUPS_{{ user }}={{ user }} shared
{% endif %}{% endfor %}

SAMBA_VOLUME_CONFIG_homes=[homes]; path=/shares/homes/%S; guest ok = no; read only = no; browseable = no; create mode = 0640; directory mode = 0750
SAMBA_VOLUME_CONFIG_media=[media]; path=/shares/media; guest ok = no; read only = no; browseable = yes; force group = shared; force create mode = 0660; force directory mode = 2775
