- name: "Ensure web repository is present"
  git:
    repo: '{{ web_repo }}'
    dest: '{{ deploy_user_home }}/homelab/compose/apps/web/build'
    version: main
    accept_hostkey: true
  environment:
    GIT_TERMINAL_PROMPT: 0
