networks:
  default:
    name: gateway_default
    external: true

services:
  safeway-coupons:
    image: ghcr.io/smkent/safeway-coupons:latest
    environment:
      CRON_SCHEDULE: "42 13 * * *"
      SMTPHOST: smtp
      SAFEWAY_ACCOUNTS_FILE: /accounts
    profiles:
    - onprem
    restart: unless-stopped
    volumes:
    - $HOME/secrets/safeway-accounts:/accounts:ro
