theme: dark

server:
  address: tcp://0.0.0.0:9091
  asset_path: /config/assets

log:
  level: info

identity_validation:
  elevated_session:
    require_second_factor: true
    skip_second_factor: true

authentication_backend:
  ldap:
    implementation: lldap
    address: ldap://lldap:3890
    base_dn: '{{ env "LDAP_BASE_DN" }}'
    user: 'uid=authelia,ou=people,{{ env "LDAP_BASE_DN" }}'
    password: {{ secret "/run/secrets/authelia-ldap-password" }}
    users_filter: >-
      (&(objectClass=person)({username_attribute}={input})(memberOf=cn=web,ou=groups,{{ env "LDAP_BASE_DN" }}))

access_control:
  default_policy: deny
  rules:
  - domain: 'lldap.{{ env "NODE_FQDN" }}'
    policy: two_factor
    subject:
    - "group:web_admin"
  - domain: 'lldap.{{ env "NODE_FQDN" }}'
    policy: deny
  - domain:
    - '{{ env "NODE_FQDN" }}'
    - '*.{{ env "NODE_FQDN" }}'
    policy: two_factor

session:
  name: sso_session
  expiration: 30d
  inactivity: 3d
  cookies:
  - domain: '{{ env "NODE_FQDN" }}'
    authelia_url: 'https://login.{{ env "NODE_FQDN" }}'
  redis:
    host: valkey
    port: 6379

storage:
  postgres:
    address: db:5432
    database: 'authelia'
    schema: 'public'
    username: 'authelia'
    password: 'authelia'
    timeout: '5s'

notifier:
  smtp:
    address: smtp:25
    sender: 'Authelia <authelia@{{ env "NODE_FQDN" }}>'
    disable_require_tls: true

webauthn:
  disable: false
  display_name: '{{ env "NODE_FQDN" }} login'
  attestation_conveyance_preference: indirect
  selection_criteria:
    discoverability: discouraged
    user_verification: discouraged
  timeout: 60s

identity_providers:
  oidc:
    hmac_secret: {{ secret "/run/secrets/authelia-oidc-hmac-secret" }}
    jwks:
    - key: {{ secret "/run/secrets/authelia-oidc-jwks-key" | mindent 10 "|" | msquote }}
    clients:
    - client_id: {{ env "OIDC_GITEA_CLIENT_ID" }}
      client_secret: {{ env "OIDC_GITEA_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - https://git.{{ env "NODE_FQDN" }}/user/oauth2/gitea/callback
      scopes:
      - openid
      - profile
      - email
    - client_id: {{ env "OIDC_IMMICH_CLIENT_ID" }}
      client_secret: {{ env "OIDC_IMMICH_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - app.immich:///oauth-callback
      - https://immich.{{ env "NODE_FQDN" }}/auth/login
      - https://immich.{{ env "NODE_FQDN" }}/user-settings
      scopes:
      - openid
      - profile
      - email
    - client_id: {{ env "OIDC_MEALIE_CLIENT_ID" }}
      client_secret: {{ env "OIDC_MEALIE_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - https://mealie.{{ env "NODE_FQDN" }}/login
      - https://mealie.{{ env "NODE_FQDN" }}/login?direct=1
      scopes:
      - openid
      - profile
      - email
    - client_id: {{ env "OIDC_NEXTCLOUD_CLIENT_ID" }}
      client_secret: {{ env "OIDC_NEXTCLOUD_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - https://nextcloud.{{ env "NODE_FQDN" }}/apps/oidc_login/oidc
      scopes:
      - openid
      - profile
      - email
    - client_id: {{ env "OIDC_OUTLINE_CLIENT_ID" }}
      client_secret: {{ env "OIDC_OUTLINE_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - https://outline.{{ env "NODE_FQDN" }}/auth/oidc.callback
      scopes:
      - openid
      - offline_access
      - profile
      - email
      response_types:
      - code
      grant_types:
      - authorization_code
      - refresh_token
      token_endpoint_auth_method: client_secret_post
    - client_id: {{ env "OIDC_PAPERLESS_CLIENT_ID" }}
      client_secret: {{ env "OIDC_PAPERLESS_CLIENT_SECRET" }}
      consent_mode: implicit
      redirect_uris:
      - https://paperless.{{ env "NODE_FQDN" }}/accounts/oidc/{{ env "DOMAIN" }}/login/callback/
      scopes:
      - openid
      - profile
      - email
