server {
    listen 443 ssl;
    set $backend "http://librephotos-proxy:80";
    server_name librephotos.${NGINX_HOST};
    include /etc/nginx/conf.d/common-vhost.include;
    include /etc/nginx/conf.d/common-ssl-options.include;

    location / {
        proxy_pass $backend;
        include /etc/nginx/conf.d/common-reverse-proxy.include;
    }
}
