server {
    listen 443 ssl;
    set $backend "http://mediawiki:80";
    server_name wiki.${NGINX_HOST};
    include /etc/nginx/conf.d/common-vhost.include;
    include /etc/nginx/conf.d/common-ssl-options.include;

    location / {
        proxy_pass $backend;
        include /etc/nginx/conf.d/common-reverse-proxy.include;
    }

    client_max_body_size 2048M;
}
