server {
    listen 443 ssl;
    set $backend "https://plex:32400";
    server_name plex.${NGINX_HOST};
    include /etc/nginx/conf.d/common-vhost.include;
    include /etc/nginx/conf.d/common-ssl-options.include;

    error_page 502 = @redirect;

    location @redirect {
        return 302 https://${PLEX_HOST};
    }

    location / {
        proxy_pass $backend;
        include /etc/nginx/conf.d/common-reverse-proxy.include;
    }
}
