name: Build and Push Docker Images

on:
  push:
  workflow_dispatch:

jobs:
  discover:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
    - uses: actions/checkout@v4

    - id: set-matrix
      run: |
        set -x
        dirs=$(find compose/images -mindepth 1 -maxdepth 1 -type d -exec test -f "{}/Dockerfile" \; -print | xargs -n1 basename)
        json=$(printf '%s\n' "${dirs}" | jq -R . | jq -s .)
        echo "matrix={\"image\":${json}}" >> "${GITHUB_OUTPUT}"

  build:
    needs: discover
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix: ${{ fromJson(needs.discover.outputs.matrix) }}

    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - uses: docker/build-push-action@v5
      with:
        context: ./compose/images/${{ matrix.image }}
        platforms: linux/amd64,linux/arm64
        push: false
        tags: ghcr.io/${{ github.repository_owner }}/${{ matrix.image }}:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
