secrets:
  jmap-api-token:
    file: ../../secrets/jmap-api-token

services:
  waffles:
    image: ghcr.io/smkent/waffles:latest
    environment:
      JMAP_HOST: api.fastmail.com
      JMAP_API_TOKEN: /run/secrets/jmap-api-token
      WAFFLES_MAILBOX: Recruiters
      WAFFLES_REPLY_FILE: /reply.html
      # WAFFLES_DRY_RUN: "true"
      # WAFFLES_DEBUG: "true"
      TZ: PST8PDT
    profiles:
    - manual
    restart: unless-stopped
    volumes:
    - ./reply.html:/reply.html:ro
    secrets:
    - jmap-api-token
