networks:
  web:
    external: true

volumes:
  plex_media_cache:
    driver: local
    name: plex_media_cache

services:
  plex:
    image: linuxserver/plex:1.41.5
    ports:
    - 32400:32400
    environment:
    - VERSION=docker
    healthcheck:
      test: [CMD, curl, -m, '5', -f, --insecure, https://localhost:32400/web/index.html]
      interval: 2m
      timeout: 5s
      retries: 3
      start_period: 1m
    networks:
    - web
    restart: unless-stopped
    volumes:
    - ../../volumes/${COMPOSE_PROJECT_NAME}/config:/config:rw
    - plex_media_cache:/config/Library/Application Support/Plex Media Server/Media:rw
    - ${FS_MEDIA_PATH-/data/media}:/media:ro
